@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


$swatch_0: #2E2F2F;
$swatch_1: #080808;
$swatch_2: #e6e0d3;
$swatch_3: #a69f91;
$swatch_4: #42413d;
$swatch_5: #817e79;

$text-color: $swatch_2;
$font-family: "Poppins";
// $body-bg: #2E2F2F;
$body-bg: $swatch_2;
